@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin transition($transition) {
  transition: $transition;
}

@mixin button-styles($bg-color, $hover-color) {
  padding: 10px;
  border: none;
  @include border-radius(5px);
  background-color: $bg-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  @include transition(ease-in-out 0.8s);

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    transform: scale(0.96);
  }
}

.container-sing-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.sing-up {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  @include border-radius(8px);
}

.form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form label {
  font-weight: 600;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  @include border-radius(5px);
  outline: none;
}

.form input:focus {
  border-color: #aaa;
  box-shadow: none;
}

.form button {
  @include button-styles(#007bff, #0056b3);
}

span {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #007bff;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.error {
  color: red;
  font-weight: 600;
  text-align: center;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

select:focus {
  border-color: #aaa;
  box-shadow: none;
}
