<h2>List User</h2>
<input type="text" [(ngModel)]="searchText"  (input)="onChangedSearchUser($event)" placeholder="Search User">
<div *ngIf="listUsers.length > 0; else noResults" class="modal-list">
  <div *ngFor="let user of listUsers" class="user">
    <span title={{user.role}}>{{ user.role.toLocaleUpperCase() }}</span>
    <span title={{user.name}}>{{ user.name }}</span>
    <span title={{user.email}}>{{ user.email }}</span>
  </div>
</div>
<ng-template #noResults>
  <p>No User found</p>
</ng-template>
